nav{
	background-color:#F2C7BD;
	width: 100vw;
	margin-bottom: 50px;
	max-width: 100%;
}
body{
	margin:0;
}
@media (max-width:1250px) {
nav{
	text-align: center;
}
}

li{
	list-style: none;
	display:inline-block;
	font-family: Concert One;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	line-height: 37px;
	margin-right: 20px;
	max-width: 100%;

}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color:brown;
}
nav ul{
	text-align: right;

	display: inline-block;

	max-width: 100%;
}

nav img{
	max-width: 556px;
	height: 180px;
	left: 27px;
	top: 10px;
	width: 100%;
}

body{
	background: #D95A4E;
}

form
{
	width: 50%;
	margin: 0 auto;
}

input,
textarea{
  border: 1px solid #696969;
	border-radius: 4px;
	padding:18px 16px;
	width: 300px;
}

input:focus {
	border:1px solid red;
}

.form-row {
	display: flex;
	justify-content: space-between;
}

button {
	display: block;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px;
}
