nav{
	background-color:#F2C7BD;
	width: 100vw;
	margin-bottom: 50px;
	max-width: 100%;
}
body{
	margin:0;
}
@media (max-width:1250px) {
nav{
	text-align: center;
}
}

li{
	list-style: none;
	display:inline-block;
	font-family: Concert One;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	line-height: 37px;
	margin-right: 20px;
	max-width: 100%;

}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	color:brown;
}
nav ul{
	text-align: right;

	display: inline-block;

	max-width: 100%;
}



nav img{

max-width: 556px;
height: 180px;
left: 27px;
top: 10px;
width: 100%;
}
header img{
width: 1136px;
height: 30%;
margin:0 auto;
display: block;
max-width: 100%;
}
footer{
margin-top: 50px;
height: 80px;
text-align: center;
font-family:Lobster;
font-style: normal;
font-weight: normal;
font-size: 64px;
line-height: 80px;
}
body{
	background: #D95A4E;
}
.hamburger,
.close {
    display: none;
}
@media (max-width: 650px) {
    .hamburger,
    .close {
        display: block;

        font-size: 70px;
        font-family: "Lucida Sans Unicode", "Arial Unicode MS";
    }
		nav ul{
			position:fixed;
			top:-100vh;
		}
		nav ul.open-nav{
			top:0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			background-color: brown;
			margin:0;
			padding:0;
		}
		nav ul.open-nav a{
			color:white;
			text-decoration: none;
		}
	}
